# Python
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# VS Code
.vscode/
*.code-workspace

# MLflow artifacts
artifacts/mlruns/

# Local model artifacts
artifacts/models/

# Environment files
.env

# Docker
*.log
